<div class="container">

  <!--<div class="row">-->
  <!--  <!%= render "public/shared/error_messages", resource: @tag %>-->
  <!--</div>-->
  <div class="row d-flex">
    <div class="col-md-2 text-center mt-3 col align-self-start">
      <h4 class="text-center">タグ編集</h4>
    </div>
    <div class="p-4 text-center">
      <%= form_with model:@tag,url:admin_tag_path(@tag) do |f| %>

      <p><%= f.text_field :name %></p>

      <div>
        <%= f.submit "変更を保存", class: "btn btn-success"%>
      </div>

      <% end %>
    </div>
  </div>
</div>